
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Feature Flags
NEXT_PUBLIC_FF_PORTAL_LOGIN_DISCLAIMER=false
NEXT_PUBLIC_PORTAL_MAINTENANCE=false